<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档页</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>



<!--导航-->
<nav th:replace="_fragments :: menu(1) " class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>
<!---->





<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="column right aligned">
                    <h2 class="m-inline-block ui orange header m-text-thin">114</h2>
                </div>
            </div>
        </div>
        
        <h2 class="ui center aligned header ">2021</h2>
        
        <div class="ui fluid vertical menu">
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            
           
        </div>
        <h2 class="ui center aligned header ">2020</h2>
        
        <div class="ui fluid vertical menu">
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            
           
        </div>
        <h2 class="ui center aligned header ">2019</h2>
        
        <div class="ui fluid vertical menu">
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            
           
        </div>
        <h2 class="ui center aligned header ">2018</h2>
        
        <div class="ui fluid vertical menu">
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            <a href="#" target= "_blank" class="item">
                <span>
                    <i class="mini teal circle icon"></i>关于刻意练习的清单
                    <div class="ui teal basic left pointing label m-padded-tb-mini">9月3日</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
            </a>
            
           
        </div>

   


    </div>
</div>


<br>





<!--底部-->
<footer th:replace="_fragments :: footer " class="ui inverted vertical center aligned segment m-padded-tb-massive">

</footer>

<!--/*/<tb:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</tb:block>/*/-->
<script>


    $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );

    


</script>



<script type="text/javascript"> 
 
    /* 鼠标点击特效 */ 
     var a_idx = 0; 
     jQuery(document).ready(function($) { 
         $("body").click(function(e) { 
             var a = new Array("坏坏","吼吼吼","哈哈哈","小坏坏","坏坏不坏","冲冲冲","给个关注吧","给宁比❤","哇哈哈哈"); 
             var $i = $("<span/>").text(a[a_idx]); 
             a_idx = (a_idx + 1) % a.length; 
             var x = e.pageX, 
             y = e.pageY; 
             $i.css({ 
                 "z-index": 999999999999999999999999999999999999999999999999999999999999999999999, 
                 "top": y - 20, 
                 "left": x, 
                 "position": "absolute", 
                 "font-weight": "bold", 
                 "color": "rgb(72,85,137)" 
             }); 
             $("body").append($i); 
             $i.animate({ 
                 "top": y - 180, 
                 "opacity": 0 
             }, 
             1500, 
             function() { 
                $i.remove(); 
             }); 
         }); 
     }); 
</script>


<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
<script type="text/javascript">
L2Dwidget.init();
</script>


<!-- 背景动画 -->
<canvas id="c_n9" width="1920" height="990" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<script src="https://files.cnblogs.com/files/jingmoxukong/canvas-nest.min.js" defer></script>







</body>
</html>