<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客</title>
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>


<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

</nav>
<!---->





<!--中间内容-->
<div class=" m-padded-tb-large ">
    <div class="ui container">
        <div class="ui grid stackable">
<!--左边博客列表-->
            <div class="eleven wide column stackable">
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="column right aligned">
                            <h2 class="m-inline-block ui orange header m-text-thin">14</h2>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui attached segment">

                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">Ctrl + E最近打开的文件</h3>
                                <p>Ctrl + E最近打开的文件 ctrl + C拷贝（默认行） Ctrl+shift + c拷贝文件路径  ctrl + V粘贴  Ctrl+shift + v从历史记录中粘贴</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header">Weilai Wang</a></div>
                                            </div>
                                            <div class="item">
                                            <i class="calendar icon"></i>2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2345
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-text-thin">认知升级</a>
                                    </div>


                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>


                            </div>
                        </div>
                     </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">Ctrl + E最近打开的文件</h3>
                                <p>Ctrl + E最近打开的文件 ctrl + C拷贝（默认行） Ctrl+shift + c拷贝文件路径  ctrl + V粘贴  Ctrl+shift + v从历史记录中粘贴</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header">Weilai Wang</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2345
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-text-thin">认知升级</a>
                                    </div>


                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">Ctrl + E最近打开的文件</h3>
                                <p>Ctrl + E最近打开的文件 ctrl + C拷贝（默认行） Ctrl+shift + c拷贝文件路径  ctrl + V粘贴  Ctrl+shift + v从历史记录中粘贴</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header">Weilai Wang</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2345
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-text-thin">认知升级</a>
                                    </div>


                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">Ctrl + E最近打开的文件</h3>
                                <p>Ctrl + E最近打开的文件 ctrl + C拷贝（默认行） Ctrl+shift + c拷贝文件路径  ctrl + V粘贴  Ctrl+shift + v从历史记录中粘贴</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header">Weilai Wang</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2345
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-text-thin">认知升级</a>
                                    </div>


                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>


                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="ui eleven wide column">
                                <h3 class="ui header">Ctrl + E最近打开的文件</h3>
                                <p>Ctrl + E最近打开的文件 ctrl + C拷贝（默认行） Ctrl+shift + c拷贝文件路径  ctrl + V粘贴  Ctrl+shift + v从历史记录中粘贴</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header">Weilai Wang</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2017-10-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2345
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui teal basic label m-text-thin">认知升级</a>
                                    </div>


                                </div>
                            </div>

                            <div class="ui five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                                </a>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a href="#" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
<!--右边-->
            <div class="five wide column stackable">
<!--分类-->
              <div class="ui segments">
                  <div class="ui secondary segment">
                      <div class="ui two column grid">
                          <div class="column">
                              <i class="idea icon"></i>分类
                          </div>
                          <div class="column">
                              <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="ui teal segment">
                      <div class="ui fluid vertical menu">
                          <a href="#" class="item">
                              学习日志
                              <div class="ui teal label">13</div>
                          </a>
                      </div>
                      <div class="ui fluid vertical menu">
                          <a href="#" class="item">
                              学习日志
                              <div class="ui teal label">13</div>
                          </a>
                      </div>
                      <div class="ui fluid vertical menu">
                          <a href="#" class="item">
                              学习日志
                              <div class="ui teal label">13</div>
                          </a>
                      </div>
                      <div class="ui fluid vertical menu">
                          <a href="#" class="item">
                              学习日志
                              <div class="ui teal label">13</div>
                          </a>
                      </div>
                      <div class="ui fluid vertical menu">
                          <a href="#" class="item">
                              学习日志
                              <div class="ui teal label">13</div>
                          </a>
                      </div>
                  </div>

              </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="column">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="" target="_blank" class="ui teal basic left pointing label ">
                                方法论
                                <div class="detail">23</div>
                            </a>
                            <a href="" target="_blank" class="ui teal basic left pointing label ">
                                方法论
                                <div class="detail">23</div>
                            </a>
                            <a href="" target="_blank" class="ui teal basic left pointing label ">
                                方法论
                                <div class="detail">23</div>
                            </a>
                            <a href="" target="_blank" class="ui teal basic left pointing label ">
                                方法论
                                <div class="detail">23</div>
                            </a>
                        </div>
                    </div>


                </div>
                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="bookmark icon"></i>最新推荐
                            </div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事(user Story)</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事(user Story)</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事(user Story)</a>
                    </div>


                </div>
                <!--二维码-->
                <h3 class="ui horizontal divider header m-margin-top-large">扫码关注我</h3>
                
                <div class="ui card centered " style="width:100px">
                    <img src="../static/images/wechat.jpg" class="ui rounded image" alt=""  th:src="@{images/wechat.jpg}">
                </div>
            </div>
        </div>

    </div>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<footer th:replace="_fragments :: footer"  >



 </footer>


<!--/*/<tb:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</tb:block>/*/-->
<script src="../static/lib/scrollTo/jquery.scrollTo.min.js"></script>
<script src="../static/lib/prism/prism.js"></script>
<script src="../static/lib/tocbot/tocbot.min.js"></script>
<script src="../static/lib/qrcode/qrcode.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>

<script>


    $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );




</script>



<script type="text/javascript"> 
 
    /* 鼠标点击特效 */ 
     var a_idx = 0; 
     jQuery(document).ready(function($) { 
         $("body").click(function(e) { 
             var a = new Array("坏坏","吼吼吼","哈哈哈","小坏坏","坏坏不坏","冲冲冲","给个关注吧","给宁比❤","哇哈哈哈"); 
             var $i = $("<span/>").text(a[a_idx]); 
             a_idx = (a_idx + 1) % a.length; 
             var x = e.pageX, 
             y = e.pageY; 
             $i.css({ 
                 "z-index": 999999999999999999999999999999999999999999999999999999999999999999999, 
                 "top": y - 20, 
                 "left": x, 
                 "position": "absolute", 
                 "font-weight": "bold", 
                 "color": "rgb(72,85,137)" 
             }); 
             $("body").append($i); 
             $i.animate({ 
                 "top": y - 180, 
                 "opacity": 0 
             }, 
             1500, 
             function() { 
                $i.remove(); 
             }); 
         }); 
     }); 
</script>


<script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
<script type="text/javascript">
L2Dwidget.init();
</script>


<!-- 背景动画 -->
<canvas id="c_n9" width="1920" height="990" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"></canvas>
<script src="https://files.cnblogs.com/files/jingmoxukong/canvas-nest.min.js" defer></script>







</body>
</html>