<!DOCTYPE html>
<html lang="en">
<head  th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">

</nav>

<br><br><br><br><br>


<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
        <div class="ui container">
            <h2>404</h2>
            <p>Sorry, the resource does not exist</p>
        </div>
    </div>
</div>
<br><br><br><br><br>

<footer th:replace="_fragments :: footer"  >
</footer>

</body>

</html>