# Default ignored files
/../../../../:WebstormProjects/blog/.idea/shelf/
/../../../../:WebstormProjects/blog/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:WebstormProjects/blog/.idea/httpRequests/
